/* App.css */
.chatbot-icon {
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.chatbot-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatbot-container {
  bottom: 90px;
  right: 20px;
  width: 350px;
  height: 500px;
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
}
